.asset_info {
  width: 100%;
  padding: 2.7rem 3rem;
  font-family: "Fredoka", sans-serif;

  &_head {
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
    justify-content: space-between;

    span {
      font-size: 2.7rem;
      padding: 0.5rem 1.7rem;
      cursor: pointer;

      &:nth-child(1):hover, &:nth-child(2):hover {
        background-color: #F0F4FF;
        border-radius: 3rem;
      }

      &:nth-child(2) {
        position: relative;
        right: 7rem;
      }

      &:nth-child(3) {
        cursor: default;
        margin-right: 3rem;
      }
    }

    .active {
      border-radius: 3rem;
      background-color: #BDD5FF;
    }
  }

  &_body {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
    align-items: start;

    &_left, &_right {
      background-color: #F0F4FF;
      border-radius: 1.5rem;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &_left {
      flex: 1.4;

      .item {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        font-size: 2.2rem;

        & > :nth-child(2) {
          text-transform: uppercase;
          border-radius: 1rem;
          padding: 0.5rem 1rem;
        }

        & > .Buy {
          background-color: #B4F7B3;
          color: #000;
        }

        & > .Sell {
          background-color: #FFC8C8;
          color: #000;
        }

        & > .Mint {
          background-color: #BDD5FF;
          color: #000;
        }
      }
    }

    &_right {
      // flex: 1 1;
      width: 37%;

      .item {
        display: flex;
        justify-content: space-between;

        & > :nth-child(1) {
          font-size: 2.3rem;
        }

        & > :nth-child(2) {
          font-size: 2.3rem;
          font-weight: 500;
        }
      }
    }
  }
}

.dark_asset_info {

  & .asset_info_head {
    border-bottom: 1px solid #c5d9fb;

    span {

      &:nth-child(1):hover, &:nth-child(2):hover {
        background-color: #3b4c7b;
      }

      &:nth-child(2) {
        position: relative;
        right: 7rem;
      }

      &:nth-child(3) {
        cursor: default;
        margin-right: 3rem;
      }
    }

    .active {
      background-color: #3b4c7b;
    }
  }

  & .asset_info_body {

    .asset_info_body_left, .asset_info_body_right {
      background-color: #243050;
    }
  }
}